@model SkillCheckQ10.Models.Docente

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Docente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Numero_Documento" class="control-label"></label>
                <input asp-for="Numero_Documento" class="form-control" />
                <span asp-validation-for="Numero_Documento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo_Documento" class="control-label"></label>
                @Html.DropDownListFor(model => model.Tipo_Documento, 
                  (List<SelectListItem>)ViewBag.TiposDocumento, 
                  "Seleccione un tipo", 
                  new { @class = "form-control" })
                <span asp-validation-for="Tipo_Documento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha_Nacimiento" class="control-label"></label>
                <input asp-for="Fecha_Nacimiento" class="form-control" />
                <span asp-validation-for="Fecha_Nacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear"z class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
